body{
 
background-color: #3c3c3d;
width:400px;
position: auto;
font-family: sans-serif;
     margin: auto;
}

.hamburger{
  background:none;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
    border:0;

  }

.menu{
    font-weight:bold; 
    font-size:0.8em; width:100%; 
    background:#f1f1f1;  
    margin:auto;
    text-align:center; 
    font-size:12px;
    border-radius:15px;
}
.menu ul {
    margin: 0; 
    padding: 0; 
   }

.menu li {
    display: block;  
    padding:5px 0 5px 0; 
   
}

.menu li:hover{
    display: block;    
    background:#ffffff; 
    padding:15px 0 15px 0; 
    
}


.menu ul li a:hover {  
    color: #666; 
    text-decoration:none;
}

.menu a{
    text-decoration:none; 
    color:#666;}

.menu a:hover{
    text-decoration:none; 
    color:#666;
}



